*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    text-decoration: none;
    list-style: none;
}
body{
   background: #1F242D;
   

}
.container{
     max-width: 1200px;
    margin:  0 auto;
    padding:  0 20px;
    border: 4px solid red;
}
.hero-wrapper{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
}
.hero-left{
    max-width: 50%;
  
    display: flex;
    align-items: start;
    flex-direction: column;
}
.hero-helo{
     font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
     color: #FFFFFF;
    margin-bottom: 2px;
}
.hero-name{
    max-width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 72.8px;
    color: #FFFFFF;
}
.hero-titles{
    max-width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 23px;
}
.hero-highlight{
    max-width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #00EEFF;
    
}
.hero-text{
    max-width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 35px;
}
.hero-icons{
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 30px;
    
}
.hero-icon{
    width:40px ;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid #00EEFF;
    color: #00EEFF;
    font-size: 20px;
    &:hover{
        transform: scale(1.05);
    }
}
.hero-btn{
    padding: 12px 26px;
    background: #00EEFF;
    border: none;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 0px #00EEFF;
    color: #323946;
     font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
     &:hover{
        transform: scale(1.05);
    }

}
.hero-right{
    max-width: 50%;
}
.hero-rasm{
    max-width: 100%;
}
@media (max-width: 768px) {
    .hero-wrapper {
        flex-direction: column;
        text-align: center;
        padding: 30px 0;
    }

    .hero-left {
        max-width: 100%; 
        align-items: center;
        margin-bottom: 40px;
    }

    .hero-right {
        max-width: 80%;
        order: -1;
    }

    .hero-name {
        font-size: 40px; 
        line-height: 1.2;
    }

    .hero-titles, .highlight {
        font-size: 24px; 
    }

    .hero-icons {
        justify-content: center; 
    }
}

@media (max-width: 480px) {
    .hero-wrapper{
        padding: 30px 0;
    }
    .hero-name {
        font-size: 32px;
    }
    
    .hero-titles, .highlight {
        font-size: 20px;
    }
    
    .hero-text {
        font-size: 14px;
        padding: 0 10px;
    }
}