*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    text-decoration: none;
    list-style: none;
}
body{
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
linear-gradient(0deg, #1F242D, #1F242D);

}