.sectionOne-wrapper{
    padding: 40px 0;

}
.one-titles{
    max-width: 290px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 27px;
  
}
.sectionOne-highlight{
    max-width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    color: #00EEFF;
    
}
.one-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.one-item{
    max-width: 100%;
    background: #323946;
    border: 2px solid #1F242D;
    padding: 40px 20px;
    text-align: center;
    border-radius: 20px;
}
.one-icon{
    font-size: 38px;
    color: #00EEFF;
    margin-bottom: 10px;
}
.one-title{
    max-width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.one-text{
    max-width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 20px;
}