.sectionOne-wrapper{
    padding: 40px 0;

}
.one-titles{
    max-width: 290px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 27px;
}
.sectionOne-highlight{
    max-width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    color: #00EEFF;
    
}
.one-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.one-item{
    max-width: 100%;
    background: #323946;
    border: 2px solid #1F242D;
    padding: 40px 20px;
    text-align: center;
    border-radius: 20px;
     &:hover{
        transform: scale(1.05);
    }
}
.one-icon{
    font-size: 40px;
    color: #00EEFF;
    margin-bottom: 10px;
    
}
.one-title{
    max-width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.one-text{
    max-width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.one-btn{
    padding: 12px 26px;
    background: #00EEFF;
    border: none;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 0px #00EEFF;
    color: #323946;
     font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
     &:hover{
        transform: scale(1.05);
    }

}
@media (max-width: 1024px) {
    .one-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}
@media (max-width:713px) {
    .one-titles, 
    .sectionOne-highlight {
        font-size: 36px; 
    }

    .one-titles {
        max-width: 240px; 
    }

    .one-list {
        grid-template-columns: 1fr; 
        max-width: 450px;
        margin: 0 auto; 
    }
    
    .one-item {
        padding: 30px 20px; 
    }
}


@media (max-width: 480px) {
    .sectionOne-wrapper {
        padding: 30px 0; 
    }
     .one-titles{
        max-width: 100%;
        margin-bottom: 20px;
        font-size: 32px;
        line-height: 35px;
        justify-content: center;
   }
    .sectionOne-highlight {
        font-size: 32px; 
         line-height: 35px;
         justify-content: center;
    }
    .one-item{
        padding: 30px 12px;
    }
    .one-title {
        font-size: 20px;
        line-height: 23px;
         
    }

    .one-text {
        font-size: 14px; 
        line-height: 20px;
    }
    .one-btn{
        padding: 11px 22px;
        font-size: 13px;
    }
}